body{
  background-color: darkseagreen;
}

h1{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: monaco;
  letter-spacing: 4px;
  text-shadow: 3px 3px #52796f;
}

h2{
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: monaco;
  letter-spacing: 4px;
  text-shadow: 3px 3px #52796f;
}

img{
  width: 30%;
  border: solid white 6px;
}

img:hover{
  border: dotted #52796f 6px;;
}

a{
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: monaco;
  letter-spacing: 3px;
  text-shadow: 2px 2px #52796f;
}

nav{
  list-style-type: none;
  position: fixed;
  background-color: #52796f;
  width: 100%;
  top: 0;
  left: 0;
}

li{
  display: inline;
  padding: 20px;
  float: left;
}

li:hover{
  background-color: #354f52;
}

a:hover{
  text-shadow: 2px 2px #52796f;
  color: #cad2c5;
}
